.course-details-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.oneCourse {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.courseDetails {
  margin-top: 20px;
}

.courseDetails .course {
  font-size: 25px;
}

.image {
  max-width: 80%;
  height: auto;
  border-radius: 30px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .course-details-container {
    min-height: 100vh;
  }
  .oneCourse {
    width: 100%;
  }
}
