.course-details-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.oneCourse {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.courseDetails {
  margin-top: 20px;
}

.courseDetails .course {
  font-size: 25px;
}

.image {
  max-width: 80%;
  height: auto;
  border-radius: 30px;
}

.full-course-description h3 {
  font-size: 23px;
  font-weight: bold;
}

.enroll-btn {
  background-color: transparent;
  font-weight: bold;
  border: 0;
  border-radius: 30px;
  color: blue;
  padding: 0;
  font-size: 15px;
  margin: 0;
  margin-top: 20px;

}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .course-details-container {
    min-height: 100vh;
  }

  .oneCourse {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .oneCourse {
    height: 100vh;
  }

  .courseDetails {
    display: grid;
    grid-template-columns: 100%;
    height: 80vh;
  }

  .course-image {
    width: 70%;
    height: 70%;
  }

  .full-course-description {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .enroll-btn {
    margin-top: 30px;
  }
}
