
.dashboard {
  background-color: aliceblue;
}

.skill-share-logo {
  height: 130px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.dashboardNavigations {
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.links {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.active {
  background-color: rgb(36, 175, 36);
  color: white;
}
