.deleteCoursesContainer {
  background-color: rgb(153, 249, 105);
}

.all_courses {
  display: grid;
  width: 90%;
  grid-template-columns: 25% 25% 25% 25%;
  margin: auto;
  justify-content: center;
}