.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.ribbon-and-authentication {
  display: grid;
  grid-template-columns: 94% 6%;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.availableClasses {
  text-align: center;
  margin-top: 40px;
}

.classThumbnail {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 15px 15px 40px 0 rgba(0, 0, 0, 0.3);
}

.fade {
  color: rgb(150, 150, 150);
}

.imageNameLink {
  text-decoration: none;
}

.courseName {
  margin-bottom: 0;
}

.dots {
  margin: 10px;
  color: grey;
  font-size: 25px;
}

.classDescription {
  width: 60%;
  margin: auto;
  font-weight: 400;
}

.socialLinksForCourses {
  margin-top: 20px;
}

.course_socials {
  padding: 5px;
  color: grey;
  border-radius: 50%;
  border: 3px solid rgb(203, 203, 203);
}

.image {
  height: 300px;
}

.sign-out-btn {
  background-color: transparent;
  font-weight: bold;
  color: grey;
  border: 1px solid blue;
  border-radius: 30px;
  width: 100px;
  padding: 0;
  font-size: 15px;
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 100%;
  }

  .ribbon-and-authentication {
    grid-template-columns: 74% 26%;
  }

  .availableClasses {
    margin-top: 30px;
  }

  .classThumbnail {
    width: 100%;
  }

  .classDescription {
    width: 80%;
  }

  .custom-slider {
    display: flex;
  }

  .sign-out-btn {
    background-color: transparent;
    font-weight: bold;
    color: grey;
    border: 1px solid blue;
    border-radius: 30px;
    width: 80px;
    padding: 0;
    font-size: 15px;
    margin: 0;
    cursor: pointer;
  }
}
