.homePage {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100vh;
}

.dashboard {
  background-color: aliceblue;
}

.skill-share-logo {
  height: 150px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

