/* ReservationList.css */

.reservation-list {
    width: 99.9%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    padding-top: 7%;
    font-family: Arial, sans-serif;
    background-color: rgb(153, 249, 105);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .reservations-list-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 100%;
  };

ul {
    list-style-type: none;
  }  

  .reservation-items {
    list-style-type: none;
    padding: 0;
    width: 50%;
  }
  
  .reservation-item {
    margin-bottom: 15px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    height: 18vh;
  }
  
  .label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .value {
    color: #333;
  }

  .title {
    text-align: center;
    font-weight: bold;
  }